
@{
    ViewData["Title"] = "GetAllPenalties";
}

@model List<MemberPenaltyDetailsModelView>

<h2 class="text-center mb-4">Penalties Table</h2>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>PenaltyID</th>
            <th>CheckOutID</th>
            <th>MemberName</th>
            <th>BookTitle</th>
            <th>CheckOutDate</th>
            <th>DueDate</th>
            <th> ReturnDate</th>
            <th>Penalty_Amount</th>
            <th>Paid_Status</th>
            <th>Pay Fees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var penalty in Model)
        {
                <tr>
                    <td>@penalty.PenaltyId</td>
                    <td>@penalty.CheckOutId</td>
                    <td>@penalty.MemberName</td>
                    <td>@penalty.BookTitle</td>
                    <td>@penalty.CheckOutDate</td>
                    <td>@penalty.DueDate</td>
                    <td>@penalty.ReturnDate</td>
                    <td>@penalty.PenaltyAmount</td>
                    <td>@penalty.PaidStatus</td>
                    <td>
                        <form asp-action="payPenalty" asp-controller="Penalty" method="get">
                            <input type="hidden" name="PenaltyId" value="@penalty.PenaltyId" />
                            @if (penalty.PaidStatus == true)
                            {         
                                <button type="submit" class="btn btn-primary" disabled >Pay </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Pay </button>
                            }
                        </form>
                  </td>
                </tr>
        }
    </tbody>
</table>

<style>
    table {
        margin: auto;
        width: 80%;
        background-color: #f9f9f9;
    }
    th, td {
        text-align: center;
        vertical-align: middle;
    }
    h2 {
        color: #333;
    }
</style>


