@model List<Book>

<h2 class="text-center mb-4">Books List</h2>

<form method="get" asp-action="searchBook" class="mb-4">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label for="titleSelect">Title</label>
                <select name="title" id="titleSelect" class="form-control">
                    <option value="">-- Select Title --</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Title">@item.Title</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="authorSelect">Author</label>
                <select name="author" id="authorSelect" class="form-control">
                    <option value="">-- Select Author --</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Author">@item.Author</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="genreSelect">Genre</label>
                <select name="genre" id="genreSelect" class="form-control">
                    <option value="">-- Select Genre --</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Genre">@item.Genre</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>



<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Number of Copies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.NoOfCopies</td>
                </tr>
        }
    </tbody>
</table>
